<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>Meetting room</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <style>
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .wrap {
      height: 100vh;
      background-color: #333;
      color: #fff;
    }
    .content {
      scrollbar-width: thin;
    }
    .content::-webkit-scrollbar {
      width: 0.5rem;
      background-color: rgba(255, 255, 255, 0.3);
    }
    .content::-webkit-scrollbar-thumb {
      width: 0.5rem;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 0.5rem;
    }
    .content::-webkit-scrollbar-thumb:hover {
      background-color: rgba(255, 255, 255, 0.6);
    }
    .content-member {
      height: 17rem;
    }
    .content-member i {
      font-size: 5rem;
    }
    .content-name {
      position: absolute;
      top: 0;
      right: 0.5rem;
      max-width: 8rem;
    }
    .content-stream-secondary {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 40%;
      height: 40%;
    }
    .action-btn {
      font-size: 1.25rem;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: #fff;
      background-color: #111;
      transition: all 0.1s;
    }
    .action-btn:hover {
      color: #fff;
      background-color: #555;
    }
    .action-btn.close {
      background-color: #ea4335;
    }
    .action-btn.open {
      background-color: #8ab4f8;
    }
  </style>
</head>
<body>
  <div id="app"></div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@next"></script>

  <script type="text/x-template" id="app-template">
    <div class="wrap d-flex flex-column pt-2">
      <div class="content flex-grow-1 overflow-auto">
        <div v-if="userData.id" class="container-fluid">
          <div class="row g-3">
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="content-member d-flex justify-content-center align-items-center position-relative overflow-hidden rounded">
                <span class="content-name text-truncate">{{ userData.name }}</span>
                <i class="bi bi-person-circle" v-if="!userData.cameraStream && !userData.screenStream"></i>
                <template v-else>
                  <video class="rounded" :class="{ 'content-stream-secondary': userData.screenStream }" :srcObject="userData.cameraStream" autoplay muted></video>
                  <video v-show="userData.screenStream" class="rounded" :srcObject="userData.screenStream" autoplay muted></video>
                </template>
              </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3" v-for="member in memberList" :key="member.id">
              <div class="content-member d-flex justify-content-center align-items-center position-relative overflow-hidden rounded">
                <span class="content-name text-truncate">{{ member.name }}</span>
                <i class="bi bi-person-circle" v-if="!member.camera.stream && !member.screen.stream"></i>
                <template v-else>
                  <video class="rounded" :class="{ 'content-stream-secondary': member.screen.stream }" :srcObject="member.camera.stream" autoplay muted></video>
                  <video v-show="member.screen.stream" class="rounded" :srcObject="member.screen.stream" autoplay muted></video>
                </template>
              </div>
            </div>
          </div> 
        </div>
      </div>

      <div class="d-flex justify-content-center px-5 pt-3 pb-3">
        <a href="#" class="action-btn mx-2" :class="{ 'close': !isShareMic }" :disabled="isLoading" @click.prevent="toggleStatusMic">
          <i v-if="isShareMic" class="bi bi-mic"></i>
          <i v-else class="bi bi-mic-mute"></i>
        </a>
        <a href="#" class="action-btn mx-2" :class="{ 'close': !isShareCamera }" :disabled="isLoading" @click.prevent="toggleStatusCamera">
          <i v-if="isShareCamera" class="bi bi-camera-video"></i>
          <i v-else class="bi bi-camera-video-off"></i>
        </a>
        <a href="#" class="action-btn mx-2" :class="{ 'open': isShareScreen }" :disabled="isLoading" @click.prevent="toggleStatusScreen">
          <i class="bi bi-display"></i>
        </a>
      </div>
    </div>

    <div class="modal fade" id="name-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content vh-50">
          <div class="modal-body">
            <h1 class="h3 text-center mb-3">歡迎加入～～</h1>
            <input v-model="userData.name" class="form-control mb-3" type="text" placeholder="你的名字是？">
            <div class="text-end">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">加入</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="module">
    const { createApp, ref, reactive, toRef, toRefs, onMounted } = Vue

    const App = {
      template: '#app-template',
      setup() {
        const isLoading = ref(false)

        const isShareMic = ref(false)
        const toggleStatusMic = () => { isShareMic.value = !isShareMic.value }

        const isShareCamera = ref(false)
        const toggleStatusCamera = () => { isShareCamera.value = !isShareCamera.value }

        const isShareScreen = ref(false)
        const toggleStatusScreen = () => { isShareScreen.value = !isShareScreen.value }

        const userData = reactive({
          id: '',
          name: '',
          websocket: null,
          cameraStream: null,
          screenStream: null,
        })
        const memberList = ref([])
        const offerOptions = { offerToReceiveAudio: true,  offerToReceiveVideo: true }

        const init = () => {
          if (userData.websocket) return
          userData.websocket = new WebSocket('ws://localhost:3000/connection')

          userData.websocket.addEventListener('message', async e => {
            const data = JSON.parse(e.data)
            const sender = memberList.value.find(user => user.id === data.senderId)

            if (data.event === 'init') {
              userData.id = data.id
              memberList.value = data.memberList.map(id => {
                return {
                  id,
                  peer: null,
                  name: '',
                  camera: {
                    id: '',
                    stream: null
                  },
                  screen: {
                    id: '',
                    stream: null
                  } 
                }
              })
              memberList.value.forEach(async member => {
                member.peer = createPeer(member.id)
                const mediaStreamData = {}
                if (userData.cameraStream) {
                  userData.cameraStream.getTracks().forEach(track => {
                    peer.addTrack(track, cameraStream)
                  })
                  mediaStreamData.cameraId = userData.cameraStream.id
                }
                if (userData.screenStream) {
                  userData.screenStream.getTracks().forEach(track => {
                    peer.addTrack(track, screenStream)
                  })
                  mediaStreamData.screenId = userData.screenStream.id
                }
                const offer = await member.peer.createOffer(offerOptions)
                offer.mediaStreamData = mediaStreamData
                await member.peer.setLocalDescription(offer)
                ws.send(JSON.stringify({
                  event: 'request',
                  senderId: userData.id,
                  takerId: member.id,
                  connection: offer
                }))
              })
            }

            if (data.event === 'request') {
              if (!sender) {
                const member = {
                  id: data.senderId,
                  peer: createPeer(data.senderId),
                  name: '',
                  camera: {
                    id: '',
                    stream
                  },
                  screen: {
                    id: '',
                    stream
                  } 
                }
                memberList.value.push(member)
                const mediaStreamData = {}
                if (userData.cameraStream) {
                  userData.cameraStream.getTracks().forEach(track => {
                    peer.addTrack(track, cameraStream)
                  })
                  mediaStreamData.cameraId = userData.cameraStream.id
                }
                if (userData.screenStream) {
                  userData.screenStream.getTracks().forEach(track => {
                    peer.addTrack(track, screenStream)
                  })
                  mediaStreamData.screenId = userData.screenStream.id
                }
                await member.peer.setRemoteDescription(data.connection)
                const answer = await member.peer.createAnswer(offerOptions)
                answer.mediaStreamData = mediaStreamData
                await member.peer.setLocalDescription(answer)
                ws.send(JSON.stringify({
                  event: 'response',
                  senderId: userData.id,
                  takerId: member.id,
                  connection: answer
                }))
              } else {
                await sender.peer.setRemoteDescription(data.connection)
                const answer = await sender.peer.createAnswer(offerOptions)
                const mediaStreamData = {}
                if (userData.cameraStream) {
                  mediaStreamData.cameraId = userData.cameraStream.id
                }
                if (userData.screenStream) {
                  mediaStreamData.screenId = userData.screenStream.id
                }
                answer.mediaStreamData = mediaStreamData
                await sender.peer.setLocalDescription(answer)
                ws.send(JSON.stringify({
                  event: 'response',
                  senderId: userData.id,
                  takerId: sender.id,
                  connection: answer
                }))
              }
            }

            if (data.event === 'response') {
              sender.peer.setRemoteDescription(data.connection)
            }

            if (data.event === 'candidate') {
              sender.peer.addIceCandidate(data.candidate)
            }

            if (data.event === 'close') {
              memberList.value = memberList.value.filter(user => user !== sender)
              sender.peer.close()
            }
          })

          userData.websocket.addEventListener('close', () => {
            userData.id = ''
            userData.websocket = null
            init()
          })
        }

        onMounted(() => {
          const nameModal = document.querySelector('#name-modal')
          const bsNameModal = new bootstrap.Modal(nameModal)
          bsNameModal.show()
          nameModal.addEventListener('hidden.bs.modal', init)
        })

        const createPeer = senderId => {
          const peer = new RTCPeerConnection()
          peer.addEventListener('icecandidate', e => {
            if (!e.candidate.candidate) return
            ws.send(JSON.stringify({
              event: 'candidate',
              senderId,
              takerId: userData.id,
              candidate: e.candidate 
            }))
          })
          peer.addEventListener('track', e => {
            console.log('track')
            console.log(e)
          })
          peer.addEventListener('removestream', e => {
            console.log('removestream')
          })
          peer.addEventListener('negotiationneeded', async e => {
            if (peer.connectionState !== 'connected') return
            console.log('negotiationneeded')
            // const offer = await user.peer.createOffer(offerOptions)
            // await user.peer.setLocalDescription(offer)
            // ws.send(JSON.stringify({
            //   event: 'request',
            //   sender: myId,
            //   taker: user.id,
            //   connection: offer
            // }))
          })
          return peer
        }

        return {
          isLoading,

          isShareMic,
          toggleStatusMic,
          isShareCamera,
          toggleStatusCamera,
          isShareScreen,
          toggleStatusScreen,

          userData,
          memberList
        }
      }
    }

  createApp(App).mount('#app')
  </script>
</body>
</html>